body{
    background-color: black;
    color:antiquewhite;
    width: 100%;
}

@font-face {
    font-family: headingFont;
    src: url(media/Merriweather/Merriweather-BlackItalic.ttf);

}

@font-face {
    font-family: titleFont;
    src: url(media/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: contentFont;
    src: url(media/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
}

.icon {
    display: none;
}

#logo{
    height:80px;
    width: 80px;
    border-radius: 50%;
}

ul {
    margin-top: 35px;
    margin-bottom: 50px;
}
li{
    text-decoration: none;
    text-align: center;
    display: inline;
    margin: 4rem;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
 
}

li:hover {
    background: linear-gradient(180deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    transition-duration: 0.3s;
}

li a {
    text-decoration: none;
    color:antiquewhite;
}

li a:visited {
    color:antiquewhite;
}

#menutop{
    display:flex;
    justify-content: flex-start;
    border-bottom: goldenrod 2px solid;
    background-color: black;
    overflow: hidden;
    position:fixed;
    width:100%;
    top:0;
}
#searchBar{
    border-radius: 50%;
    margin-top:2rem;
    margin-left: 3rem;
}

#kirjaudu {
    color:antiquewhite;
    margin-left: 5rem;
    margin-right: -5.5rem;
    

}

#goldLine{
    width: 100%;
    height:3px;
}

#content {
    margin-top: 10rem;
}

h1 {
    text-align: center;
    font-family: headingFont;
}

p {
    text-align:center;
    max-width: 50rem;
    font-family: contentFont;

}

h2 {
    margin: 2rem;
    text-align: center;
    font-family: titleFont;
}

#kuva1 {
    height: 40%;
    width: 40%;
    float: left;
}

.aihe {
   
margin: 25%;
margin-top:0;
margin-bottom: 5rem;
}

#kuva2 {
    height: 40%;
    width: 40%;
    float: right;
}
@media only screen and (max-width: 1360px){
    li{
        text-decoration: none;
        text-align: center;
        display: inline;
        margin: 1rem;
        margin-top: 3.75rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.8rem;
        color:antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    
}
    }
    @media only screen and (max-width: 980px){

        ul {
            display: flex;
            flex-direction: column;
        }
        
        li{
            text-decoration: none;
            display: initial;
            text-align: center;
            color:antiquewhite;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            background-color: none;
            padding: 0;
            background: black;
            margin:0;
        }

        li:hover {
            background: none;
        }

        #menutop{
            display:flex;
            justify-content: flex-start;
            border-bottom: goldenrod 2px solid;
            background-color: black;
            overflow: hidden;
            position:fixed;
            width:100%;
            top:0;
        }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: black;
    color:ivory;
    display: block;
    position: absolute;
    right: 2rem;
    top: 2rem;
    height: 4rem;
  }

  .icon {
      display: initial;
  }
    }
