body{
    background-color: black;
    color:antiquewhite;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: headingFont;
}

h2 {
    margin: 2rem;
    text-align: center;
    font-family: titleFont;
}

p {
    text-align:center;
    max-width: 50rem;
    font-family: contentFont;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin-top: 35px;
    margin-bottom: 50px;
}

li{
    text-decoration: none;
    text-align: center;
    display: inline;
    margin: 1rem;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
 
}

li:hover {
    background: linear-gradient(180deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    transition-duration: 0.3s;
}

li a {
    text-decoration: none;
    color:antiquewhite;
}

li a:visited {
    color:antiquewhite;
}

@font-face {
    font-family: headingFont;
    src: url(/media/Merriweather/Merriweather-BlackItalic.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(/media/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: contentFont;
    src: url(/media/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
}

.aihe { 
    margin: 25%;
    margin-top:0;
    margin-bottom: 5rem;
    }

#logo{
    height:80px;
    width: 80px;
    border-radius: 50%;
    position:relative;
    padding:1rem;
    
}

#otsikko {
    color:antiquewhite;
    align-self: flex-start;
    position: relative;
    text-align:center;
    width:100%;
}
#myLinks{
    display: flex;
    align-self:flex-end;
}

#myTopnav{
    display:flex;
    justify-content: center;
    border-bottom: goldenrod 2px solid;
    background-color: black;
    overflow: hidden;
    position:fixed;
    width:100%;
    top:0;
    height: 12rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

#searchBar{
    border-radius: 50%;
    margin-top:2rem;
    margin-left: 2rem;
    width:2rem;
    height:2rem;
}

#kirjaudu {
    color:antiquewhite;
    border:2px solid white;
    position: relative;
    margin:0;
    padding: 0;
}

#goldLine{
    width: 100%;
    height:3px;
}

#content {
    margin-top: 15rem;
}


#kuva1 {
    height: 40%;
    width: 40%;
    float: left;
}



#kuva2 {
    height: 40%;
    width: 40%;
    float: right;
}
/* Pienet versiot menusta */

    
/*säätää menun asetukset kun näyttö max 950px*/
@media (max-width: 950px){
    
    li{
        text-decoration: none;
        text-align: center;
        display: inline;
        margin: .5rem;
        margin-top: 3.75rem;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 0.8rem;
        color:antiquewhite;
        font-family: contentFont;
        font-size: 1rem;
        background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    }
        
    }
@media (max-width: 949px){   
    
    h1 {
        text-align:center;
    }
    li{
        text-decoration: none;
        display: flex;
        justify-content: center;
        text-align: center;
        color:antiquewhite;
        font-family: contentFont;
        font-size: 1.5rem;
        background-color: none;
        padding: 0;
        background: black;
        margin-top:2rem;
    }

    li:hover {
        background: none;
    }


    .mobile-container {
        position:fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        width: 100%;
        bottom:0;
        margin: auto;
        background-color: black;
        color: white;
        border-radius: 10px;
    }
    #myTopnav{
        display:flex;
        justify-content: center;
        text-align: center;
        border-bottom: goldenrod 2px solid;
        background-color: black;
        overflow: hidden;
        width:100%;
        top:0;
    }

}