body{
    background-color: black;
    color:antiquewhite;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: headingFont;
}

h2 {
    margin: 2rem;
    text-align: center;
    font-family: titleFont;
}

p {
    text-align:center;
    max-width: 50rem;
    font-family: contentFont;
}

ul {
    margin-top: 35px;
    margin-bottom: 50px;
}

li{
    text-decoration: none;
    text-align: center;
    display: inline;
    margin: 1rem;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
 
}

li:hover {
    background: linear-gradient(180deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    transition-duration: 0.3s;
}

li a {
    text-decoration: none;
    color:antiquewhite;
}

li a:visited {
    color:antiquewhite;
}

@font-face {
    font-family: headingFont;
    src: url(media/Merriweather/Merriweather-BlackItalic.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(media/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: contentFont;
    src: url(media/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
}

.topnav .icon {
    display: none;
}

.aihe { 
    margin: 25%;
    margin-top:0;
    margin-bottom: 5rem;
    }

#logo{
    height:80px;
    width: 80px;
    border-radius: 50%;
    align-self:center;
    
}

#otsikko {
    color:antiquewhite;
    align-self: flex-start;
    position: relative;
    text-align:center;
    width:100%;
}
#myLinks{
    display: flex;
    align-self:flex-end;
}

#myTopnav{
    display:flex;
    justify-content: center;
    border-bottom: goldenrod 2px solid;
    background-color: black;
    overflow: hidden;
    position:fixed;
    width:100%;
    top:0;
    height: 12rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

#höskät{
    justify-content: right;
}
#searchBar{
    border-radius: 50%;
    margin-top:2rem;
    margin-left: 2rem;
    display: fixed;
}

#kirjaudu {
    color:antiquewhite;
    margin-left: 2rem;
    display: flex;
    position: relative;
}

#goldLine{
    width: 100%;
    height:3px;
}

#content {
    margin-top: 15rem;
}


#kuva1 {
    height: 40%;
    width: 40%;
    float: left;
}



#kuva2 {
    height: 40%;
    width: 40%;
    float: right;
}
/* Pienet versiot menusta */

    
/*säätää menun asetukset kun näyttö max 1000px*/
@media only screen and (max-width: 1200px){
     
   /*kommentoin tän pois koska rikkoo koodia atm testatessa 
    ul {
        display: flex;
        justify-content: flex-start;   
    }*/
    
    li{
        text-decoration: none;
        text-align: center;
        display: inline;
        margin: .5rem;
        margin-top: 3.75rem;
        margin-bottom: 1rem;
        padding: .5rem;
        border-radius: 0.8rem;
        color:antiquewhite;
        font-family: contentFont;
        font-size: 1rem;
        background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    }
        
    }
@media only screen and (max-width: 1000px){   
    li{
        text-decoration: none;
        display: flex;
        text-align: center;
        color:antiquewhite;
        font-family: contentFont;
        font-size: 1.5rem;
        background-color: none;
        padding: 0;
        background: black;
        margin-top:2rem;
    }

    li:hover {
        background: none;
    }
/* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        color:ivory;
        display: block;
        position: absolute;
        right: 2rem;
        top: 2rem;
        height: 4rem;
    }

    .icon {
        display: initial;
    }

    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: black;
        /*height: 500px;*/
        color: white;
        border-radius: 10px;
    }
    #myTopnav{
        display:flex;
        justify-content: center;
        border-bottom: goldenrod 2px solid;
        background-color: black;
        overflow: hidden;
        position:fixed;
        width:100%;
        top:0;
    }
}
  /* Hide the links inside the navigation menu (except for logo/home)
  .topnav #myLinks {
    display: none;
  }
  
  
    
    #searchBar{
        margin-left: 10rem;
    }
    #kirjaudu{
        font-size: 1.25rem;
        margin-left: 6.5rem;
    }

    }

    /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally).
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }*/