*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color:antiquewhite;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: headingFont;
}

h2 {
    margin: 2rem;
    text-align: center;
    font-family: titleFont;
}

p {
    text-align:center;
    max-width: 50rem;
    font-family: contentFont;
}

ul {
    margin-top: 35px;
    margin-bottom: 50px;
}

li{
    text-decoration: none;
    text-align: center;
    display: inline;
    margin: 1rem;
    margin-top: 3.75rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 0.8rem;
    color:antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background: linear-gradient(0deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
 
}

li:hover {
    background: linear-gradient(180deg, rgb(17, 9, 31) 0%, rgba(35, 18, 63,1) 37%, rgb(121, 64, 214) 100%);
    transition-duration: 0.3s;
}

li a, a:visited {
    text-decoration: none;
    color:antiquewhite;
}


@font-face {
    font-family: headingFont;
    src: url(media/Merriweather/Merriweather-BlackItalic.ttf);
}

@font-face {
    font-family: titleFont;
    src: url(media/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: contentFont;
    src: url(media/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
}

.aihe { 
    margin: 25%;
    margin-top:0;
    margin-bottom: 5rem;
    }

.hidden-desk{
    display: none;
}
.hidden-mob{
    display:none;
}


#logo{
    height:80px;
    width: 80px;
    border-radius: 50%;
    
}

#otsikko {
    color:antiquewhite;
    align-self: flex-start;
    position: relative;
    text-align:center;
    width:100%;
}


#myTopnav{
    display:flex;
    justify-content: center;
    border-bottom: goldenrod 2px solid;
    background-color: black;
    overflow: hidden;
    position:fixed;
    width:100%;
    top:0;
    height: 12rem;
    flex-wrap: wrap;
    align-items: flex-end;
}

#höskät{
    justify-content: right;
}
#searchBar{
    border-radius: 50%;
    margin-top:2rem;
    margin-left: 2rem;
    display: fixed;
}

#kirjaudu {
    color:antiquewhite;
    margin-left: 2rem;
    display: flex;
    position: relative;
}

#goldLine{
    width: 100%;
    height:3px;
}

#content {
    margin-top: 15rem;
}

#kuva1 {
    height: 40%;
    width: 40%;
    float: left;
}

#kuva2 {
    height: 40%;
    width: 40%;
    float: right;
}
.hedari{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 1000px){   
    li{
        text-decoration: none;
        display: flex;
        text-align: center;
        color:antiquewhite;
        font-family: contentFont;
        font-size: 1.5rem;
        background-color: none;
        padding: 0;
        background: black;
        margin-top:2rem;
    }

    li:hover{
        background: black;
    }

    #menu {

        background-color: rgb(0, 0, 0);
    
        position: fixed;
    
        top: 0;
    
        left: -100%;
    
        bottom: 0;
    
        width: 100%;
    
        transition: left .5s;
    
        z-index: 9999;
        
        display: flex;
        align-self:flex-end;
        
    
    }
    
    .topnav{
        display:flex;
        justify-content: center;
        border-bottom: #daa520 2px solid;
        background-color: black;
        overflow: hidden;
        position:fixed;
        width:100%;
        top:0;
    }
    #menuBtn{
        display:flex;
        background-image: url(/media/icon-menu.svg);
        position: absolute;
        right: 2rem;
        top:2rem;
        
    }
    #closeMenuBtn{
        display:flex;
        background-image: url(/media/icon-close.svg);
        position: absolute;
        margin-right: 2rem;
        
    }
    #menu.open{
        left:0;
    }

    #menuBtn , #closeMenuBtn  { 
        
            width: 2rem;
        
            height: 2rem;
        
            background-color: transparent;
        
            background-repeat: no-repeat;
        
            background-size: contain;
        
            background-position: center;
        
            text-indent: 100%;
        
            white-space: nowrap;
        
            overflow: hidden;
        
            padding: 0;
        
            border: none;
        
            cursor: pointer;
        
        }
}
