.tarot_pic{
    width: 150px;
    height: 200px;
    margin:10px;
}

.aihe{
    margin:5%;
    justify-content: space-evenly;
    
}
#kortit{
    width: 100%;
    justify-content: space-evenly;
    
}
